@import "config";

.nav {
  margin-bottom: $gutter;

  &__row {
    @include row();
    flex-wrap: wrap;
  }

  &__ulist {
    @include clm(12);

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: $gutter;

    list-style: none;

    @media (min-width: 800px) {
      @include clm(6);
      @include off-lft(3);

      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;

    margin-right: $gutter * 0.5;
    margin-left: $gutter * 0.5;

    font-size: 1rem;
  }

  &__link {
    color: $color1;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $transition;

    &:hover {
      color: $color2;
    }
  }

  &__item--current &__link {
    text-decoration: underline;
  }

  &__karfa {
    @include clm(12);

    display: flex;
    justify-content: center;

    @media (min-width: 800px) {
      @include clm(2);
      @include off-lft(1);

      justify-content: flex-end;
    }
  }

  &__button {
    background-image: url("img/cart.svg");
    background-repeat: no-repeat;

    color: $color1;

    padding-right: $gutter;
    padding-left: 30px;

    text-decoration: none;

    transition: color $transition;

    &:hover {
      color: $color2;
    }

    @media (min-width: $max-width) {
      padding-right: 0;
    }
  }
}