@import "config";

.vorur {
  max-width: $max-width;
  margin: 0 auto;

  &__row {
    @include row;
    margin-bottom: $gutter * 2;
    flex-wrap: wrap;
  }

  &__col {
    @include clm(12);

    margin-bottom: $gutter * 2;

    @media (min-width: 500px) {
      @include clm(6);
    }

    @media (min-width: 900px) {
      @include clm(4);
    }
  }

  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

}